.option-grid {
  grid-template-rows: repeat(5, minmax(0, 1fr));
  display: grid;
  grid-auto-flow: column;
}

.create-survey-empty-header {
  border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) calc(0.35rem - 1px)
    calc(0.35rem - 1px) !important;
}

.sidebar .product-item {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  text-align: left;
  padding: 1rem;
  width: 20rem;
}

.sidebar .product-unit {
  color: rgba(255, 255, 255, 0.8);
  font-size: medium;
  text-align: left;
  font-weight: bold;
}

.sidebar .product-heading {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 0 1rem;
  font-weight: 800;
  font-size: 0.8rem;
  text-transform: uppercase !important;
}

.btn-trash {
  cursor: pointer;
  color: red;
}

.navbar-item-spg {
  margin: 0 0.75rem 0 0.75rem;
  --tw-text-opacity: 1 !important;
  color: rgba(107, 114, 128, var(--tw-text-opacity)) !important;
  font-weight: 700 !important;
  text-decoration: none !important;
  font-size: 80%;
}
