:root {
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #d85016;
  --primary-hover: #9c3a10;
  --secondary: #75ad80;
  --secondary-hover: #679771;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #fe7171;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: 'Nunito', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

/*TITLE*/
#main-title {
  text-shadow: 4px 4px 8px #000000;
  font-weight: bold;
  color: #fff;
  font-size: 45px;
}

.mid-title {
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  height: 40px;
}
/*
p {
  font-size: 17px;
  color: rgb(0, 0, 0);
}
p:hover {
  font-weight: bold;
}*/

.text-primary {
  color: var(--primary);
}
.text-primary:hover {
  color: var(--primary-hover);
}
.text-secondary {
  color: var(--secondary);
}
.text-secondary:hover {
  color: var(--secondary-hover);
}

/* .bg-secondary {
  color: var(--secondary) !important;
  opacity: 0.3 !important;
} */

/*SECTION 1*/



#btn-shopping:hover {
  font-weight: bold;
}

/*ARROW*/
.a {
  text-decoration: none;
}

.a:hover {
  text-decoration: none;
}

#arrow {
  color: white;
  height: inherit;
  width: 50px;
}

#arrow:hover {
  color: var(--secondary);
}

/*Paragraphe*/
.paragraph {
  width: 75%;
  font-size: 20px;
}

/*SECTION 2 - Product */

.products {
  text-align: center;
  justify-content: space-around;
  padding: 10px;
  display: inline-flex;
  flex-wrap: wrap;
}
.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /*overflow-x: auto;  We chosed to remove the slide bar because is ugly */
  padding: 10px;
}

/*products images
*/
.round-img:hover {
  transform: scale(1.15);
}

.round-img {
  object-fit: cover;
  width: 170px;
  transition: transform 0.2s;
  height: 170px;
  border-radius: 200px;
  margin: 10px;
  display: inline-block;
}

.square-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin: 10px;
  display: inline-block;
}

/*SECTION 3 - About us Contact */

.last-title {
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
  height: 40px;
  margin-bottom: 90px;
}

.info {
  text-align: center;
}

.aboutus {
  text-align: center;
}

.network {
  margin: 30px;
  padding: 5px;
}

/*TEST*/
/*
.background {
  background-image: url(../../../img/homepage-unsplash.jpg);
  background-repeat: no-repeat;
  height: '400px';
  background-position: center;
  background-size: cover;
  align-items: 'center';
  opacity: '0.4';
  
}*/
/*overflow: 'visible', For the margin*/
