:root {
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #d85016;
  --primary-hover: #9c3a10;
  --secondary: #75ad80;
  --secondary-hover: #679771;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #fe7171;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: 'Nunito', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

.fg-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.btn.bg-primary:hover {
  background-color: rgb(156, 58, 16) !important;
}

.btn.bg-primary:focus {
  background-color: rgb(156, 58, 16) !important;
  box-shadow: 0 0 0 0.2rem rgba(156, 58, 16, 0.5);
}

.fg-secondary {
  color: var(--secondary);
}

.bg-secondary {
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
}

.btn.bg-secondary:hover {
  background-color: rgb(103, 151, 113) !important;
}

.btn.bg-secondary:focus {
  background-color: rgb(49, 156, 16) !important;
  box-shadow: 0 0 0 0.2rem rgb(39, 122, 13);
}

.font-ibmplex {
  font-family: 'IBM Plex Sans', sans-serif;
}
